.swiper {
    position: relative;
}

.leftButton{
    position: absolute !important;
    top: 50%;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(46, 16, 102, 0.25);
}

.rightButton{
    position: absolute !important;
    top: 50%;
    z-index: 10;
    left: 97%;
    box-shadow: 0px 4px 10px rgba(46, 16, 102, 0.25);
}

.leftArrow {
    rotate: 180deg;
}